pkgbase = wasi-compiler-rt
	pkgdesc = WASI LLVM compiler runtime
	pkgver = 15.0.5
	pkgrel = 1
	url = https://compiler-rt.llvm.org/
	arch = any
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = ninja
	makedepends = llvm
	makedepends = clang
	makedepends = lld
	depends = wasi-libc
	options = staticlibs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/compiler-rt-15.0.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/compiler-rt-15.0.5.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/cmake-15.0.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/cmake-15.0.5.src.tar.xz.sig
	source = WASI.cmake
	source = wasi-toolchain.cmake
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	b2sums = 267771cee3d6e66cee229314fde4bce14cfab4aeb8e578f6a52bf3b480fc081811f8ea717511abbdd5862c8a5d79dbec07aaf53a371a90500fce0d0e9078de74
	b2sums = SKIP
	b2sums = 44702077da62fb1b5bb92a4c95b8a74fcdd6acd99905c2348ff9c4ec38d3d12e2ef649b1dfe28f03b1512d65b1ac9bbae51c308b8b8e7ee779d073add9fc4d68
	b2sums = SKIP
	b2sums = c829d807c257921fddb8c4d3752ad2291a2beb116d414dd31e34b7f6b01599d8c4807db87ef9930456ed8c9f30e8648e77028fa0b903c3a5ea840514f6022cf4
	b2sums = 74c63bb838bc2e6d7980370fb3d47f8fd2f1dd8b6dc82302c7cc0b80e0fb1e8e21c1c62d6de0b78e478fc22611a5867e52b1ef7a566796fe831fffd98b17c940

pkgname = wasi-compiler-rt
