pkgbase = clang
	pkgdesc = C language family frontend for LLVM
	pkgver = 15.0.6
	pkgrel = 4
	url = https://clang.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	makedepends = python-recommonmark
	depends = llvm-libs
	depends = gcc
	depends = compiler-rt
	optdepends = openmp: OpenMP support in clang with -fopenmp
	optdepends = python: for scan-view and git-clang-format
	optdepends = llvm: referenced by some clang headers
	provides = clang-analyzer=15.0.6
	provides = clang-tools-extra=15.0.6
	conflicts = clang-analyzer
	conflicts = clang-tools-extra
	replaces = clang-analyzer
	replaces = clang-tools-extra
	options = !lto
	options = !debug
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/clang-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/clang-tools-extra-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/llvm-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/cmake-15.0.6.src.tar.xz
	source = kcfi.patch
	source = improve-kernel-compile.patch
	source = enable-fstack-protector-strong-by-default.patch
	sha256sums = 10119ae195f1b4f979fe42e67b781e175b0c0d4e982fd6a2f44c4aa7fc925233
	sha256sums = 92b1714294efe13906d3b3f87d3273ea9eb38cb7f3b78631820086f0b0173b25
	sha256sums = 0b32199401f27e2e0353846a8c5fbadd77beca2570654fb9ef7ac9b7f26967e3
	sha256sums = 7613aeeaba9b8b12b35224044bc349b5fa45525919625057fa54dc882dcb4c86
	sha256sums = 4495e83b03e9b5e5940954d3d9b7d6be43c78e2534f8d8f6b5a878c0188a7602
	sha256sums = 593ed385298623711070dffce9225cb448dfc29f30c9d950887882b19bd124fb
	sha256sums = 7a9ce949579a3b02d4b91b6835c4fb45adc5f743007572fb0e28e6433e48f3a5

pkgname = clang
