pkgbase = lib32-llvm
	pkgver = 16.0.0rc2
	pkgrel = 1
	url = https://llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = ninja
	makedepends = lib32-libffi
	makedepends = lib32-zlib
	makedepends = lib32-zstd
	makedepends = python
	makedepends = gcc-multilib
	makedepends = lib32-libxml2
	options = staticlibs
	options = debug
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc2/llvm-16.0.0rc2.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc2/llvm-16.0.0rc2.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc2/cmake-16.0.0rc2.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc2/cmake-16.0.0rc2.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc2/third-party-16.0.0rc2.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc2/third-party-16.0.0rc2.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = 77d8b0186c54269c5e8dcd46840025d1fc7c89d6cbf6d3969edfcf402a3d7412
	sha256sums = SKIP
	sha256sums = c95907dd1e10197b851f7e6a6b3dbd831bea96ea25b376d340ad7ad94b3a53a0
	sha256sums = SKIP
	sha256sums = 939686f0c8fee1a50ef34c8ec0070af1139e14c69f7a5390dc2e95e8e32c8e34
	sha256sums = SKIP

pkgname = lib32-llvm
	pkgdesc = Compiler infrastructure (32-bit)
	depends = lib32-llvm-libs
	depends = llvm

pkgname = lib32-llvm-libs
	pkgdesc = LLVM runtime libraries (32-bit)
	depends = lib32-libffi
	depends = lib32-zlib
	depends = lib32-zstd
	depends = lib32-ncurses
	depends = lib32-libxml2
	depends = lib32-gcc-libs
