pkgbase = lib32-llvm
	pkgver = 15.0.6
	pkgrel = 1
	url = https://llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = ninja
	makedepends = lib32-libffi
	makedepends = lib32-zlib
	makedepends = python
	makedepends = gcc-multilib
	makedepends = lib32-libxml2
	options = staticlibs
	options = !debug
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/llvm-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/cmake-15.0.6.src.tar.xz
	sha256sums = 0b32199401f27e2e0353846a8c5fbadd77beca2570654fb9ef7ac9b7f26967e3
	sha256sums = 7613aeeaba9b8b12b35224044bc349b5fa45525919625057fa54dc882dcb4c86

pkgname = lib32-llvm
	pkgdesc = Compiler infrastructure (32-bit)
	depends = lib32-llvm-libs
	depends = llvm

pkgname = lib32-llvm-libs
	pkgdesc = LLVM runtime libraries (32-bit)
	depends = lib32-libffi
	depends = lib32-zlib
	depends = lib32-ncurses
	depends = lib32-libxml2
	depends = lib32-gcc-libs
