pkgbase = lld
	pkgdesc = Linker from the LLVM project
	pkgver = 16.0.0rc3
	pkgrel = 1
	url = https://lld.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	depends = llvm-libs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/lld-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/lld-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/llvm-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/llvm-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/libunwind-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/libunwind-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/cmake-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/cmake-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/third-party-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/third-party-16.0.0rc3.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = 5fabba27c982d3a7d9ba385a584d358d71cfc6b6c2c4ebbd351fec89264096ce
	sha256sums = SKIP
	sha256sums = 631eae5682409d890651fbb8d81580f703be45fecf2d67c1f9f07662ea5ab98b
	sha256sums = SKIP
	sha256sums = fc6cd3e7b4104334fbb003fddd968c890622b27466b60df3a2c6b67eebfedaae
	sha256sums = SKIP
	sha256sums = 892b720979983735618137d19faaa6ac28500c1d7cdf7c0c4489f1ab0531f154
	sha256sums = SKIP
	sha256sums = e56f362fded1d2f936620edacace4d07ee60b2912534b8821531b96da0d3489c
	sha256sums = SKIP

pkgname = lld
