pkgbase = lld
	pkgdesc = Linker from the LLVM project
	pkgver = 15.0.6
	pkgrel = 1
	url = https://lld.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	depends = llvm-libs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/lld-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/llvm-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/libunwind-15.0.6.src.tar.xz
	sha256sums = 29fd83b61a1171c6bd51963ca54d0d7b577255e77fcd5ff03c0548fcc5b27b4f
	sha256sums = 0b32199401f27e2e0353846a8c5fbadd77beca2570654fb9ef7ac9b7f26967e3
	sha256sums = 020a5a0d5be26ad7a034878479f292718ad27295c843050a9be6116abc520a28

pkgname = lld
