pkgbase = lld
	pkgdesc = Linker from the LLVM project
	pkgver = 15.0.5
	pkgrel = 1
	url = https://lld.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	depends = llvm-libs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/lld-15.0.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/lld-15.0.5.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/llvm-15.0.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/llvm-15.0.5.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/libunwind-15.0.5.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.5/libunwind-15.0.5.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	sha256sums = 55241cb1ccc9cb3a8006373c58a8071990973ebfa67ed9b508a125492f4c005e
	sha256sums = SKIP
	sha256sums = 4428688b567ab1c9911aa9e13cb44c9bc1b14431713c14de491e10369f2b0370
	sha256sums = SKIP
	sha256sums = a1616b6114af17a50dd85139dc8d54c347cffc0ec998acc809c8be8d1edab0d3
	sha256sums = SKIP

pkgname = lld
