pkgbase = llvm-bolt
	pkgdesc = Post Link Optimizer from LLVM
	pkgver = 16.0.0rc3
	pkgrel = 1
	url = https://llvm-bolt.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	depends = llvm-libs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/bolt-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/bolt-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/llvm-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/llvm-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/cmake-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/cmake-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/third-party-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/third-party-16.0.0rc3.src.tar.xz.sig
	sha256sums = f5a7ebf1cc2e1c1e5a686284afab392ed3c837f8bbe7e0fed9812ba711f4c7e4
	sha256sums = SKIP
	sha256sums = 631eae5682409d890651fbb8d81580f703be45fecf2d67c1f9f07662ea5ab98b
	sha256sums = SKIP
	sha256sums = 892b720979983735618137d19faaa6ac28500c1d7cdf7c0c4489f1ab0531f154
	sha256sums = SKIP
	sha256sums = e56f362fded1d2f936620edacace4d07ee60b2912534b8821531b96da0d3489c
	sha256sums = SKIP

pkgname = llvm-bolt
