pkgbase = libc++
	pkgver = 15.0.6
	pkgrel = 1
	url = https://libcxx.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	checkdepends = llvm
	makedepends = clang
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	depends = gcc-libs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/llvm-project-15.0.6.src.tar.xz
	sha512sums = 3311d85f4e02610af52f06e83c8c6d2b93950d24324b831b7afc47c39a20a546d39683a14e1a315da87d226379042de900a3f36a0351053547482af9035ab949

pkgname = libc++
	pkgdesc = LLVM C++ standard library.
	depends = libc++abi=15.0.6-1
	options = staticlibs

pkgname = libc++abi
	pkgdesc = Low level support for the LLVM C++ standard library.
	options = staticlibs
