pkgbase = llvm
	pkgdesc = Low Level Virtual Machine (git version)
	pkgver = 15.0.6
	pkgrel = 2
	url = https://llvm.org/
	arch = x86_64
	arch = x86_64_v3
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = libffi
	makedepends = libedit
	makedepends = ncurses
	makedepends = libxml2
	makedepends = python-sphinx
	makedepends = lua53
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	makedepends = python-recommonmark
	makedepends = python-sphinx-automodapi
	makedepends = ocl-icd
	makedepends = opencl-headers
	makedepends = python-yaml
	makedepends = python-setuptools
	makedepends = swig
	makedepends = python
	makedepends = libunwind
	makedepends = mold
	options = staticlibs
	options = !debug
	options = !lto
	source = llvm-project::git+https://github.com/llvm/llvm-project.git#commit=088f33605d8a61ff519c580a71b1dd57d16a03f8
	source = llvm-config.h
	source = kCFI.patch
	source = improvekernel.patch
	source = bolt.patch
	source = bolt2.patch
	source = bolt3.patch
	sha512sums = SKIP
	sha512sums = 75e743dea28b280943b3cc7f8bbb871b57d110a7f2b9da2e6845c1c36bf170dd883fca54e463f5f49e0c3effe07fbd0db0f8cf5a12a2469d3f792af21a73fcdd
	sha512sums = e67dbcf38f3dab9772c7cab8a75e86cccf86e63d0f1754ad67c9bcb340a21c9a87580cf7df7611da4de2b78f3996e4fdd0b15da8e2bd3687b2723094dec7d22c
	sha512sums = 2a5d6583e0783c041db4218ad725728dc349b5673d0370a51b1cc3ab1ff7114457a2d480590212ffec53c67d00ddfd65855fd784ac972885c462cc1e306292da
	sha512sums = ba8505c43b63ba4484faa317ce40f347669e7cdb3a8bc06635eb62ecce781edbd6e3555c8f6aae9b4f3837b58f5ee73c7546d9950594ffda283ba2a4e53f03d2
	sha512sums = b88ca1105c926ddf6498c29c32ded62b05e5ca8f0cbc994728911dc7f001924a183d5fd5efc06399269bfd3130c775ad7145abe0b7f940b5b7e75cc486583bb3
	sha512sums = cd5e732742afa808772983fc97249ed2b06ab0c3bfde4411abc96ddf68d5d5d9ebacb99d09004b6e4d742ec4b9b9a30540b735df7e01bc55fe4c6e4ac7e1f305

pkgname = lldb
	pkgdesc = Next generation, high-performance debugger
	url = https://lldb.llvm.org/
	license = custom:Apache 2.0 with LLVM Exception
	depends = llvm-libs
	depends = clang
	depends = python
	depends = python-six
	options = !debug

pkgname = lld
	pkgdesc = Linker from the LLVM project
	url = https://lld.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	depends = llvm-libs
	options = !debug

pkgname = polly
	pkgdesc = High-level loop and data-locality optimizer and optimization infrastructure for LLVM
	url = https://polly.llvm.org/
	license = custom:Apache 2.0 with LLVM Exception
	depends = gcc-libs
	options = !debug

pkgname = compiler-rt
	pkgdesc = Compiler runtime libraries for clang
	url = https://compiler-rt.llvm.org/
	license = custom:Apache 2.0 with LLVM Exception
	depends = gcc-libs
	options = !debug

pkgname = clang
	pkgdesc = C language family frontend for LLVM
	url = https://clang.llvm.org/
	optdepends = openmp: OpenMP support in clang with -fopenmp
	optdepends = python: for scan-view and git-clang-format
	optdepends = llvm: referenced by some clang headers
	provides = clang-analyzer=15.0.6
	provides = clang-tools-extra=15.0.6
	conflicts = clang-analyzer
	conflicts = clang-tools-extra
	replaces = clang-analyzer
	replaces = clang-tools-extra
	options = !debug

pkgname = llvm-libs
	pkgdesc = LLVM runtime libraries
	depends = gcc-libs
	depends = zlib
	depends = libffi
	depends = libedit
	depends = ncurses
	depends = libxml2
	options = !debug

pkgname = llvm
	pkgdesc = Compiler infrastructure
	depends = llvm-libs
	depends = perl
	options = !debug
