pkgbase = spirv-llvm-translator
	pkgdesc = Tool and a library for bi-directional translation between SPIR-V and LLVM IR
	pkgver = 15.0.0
	pkgrel = 2
	url = https://github.com/KhronosGroup/SPIRV-LLVM-Translator
	arch = x86_64
	license = custom
	checkdepends = python
	checkdepends = python-setuptools
	checkdepends = clang
	makedepends = git
	makedepends = cmake
	makedepends = llvm
	makedepends = spirv-headers
	depends = llvm-libs
	depends = spirv-tools
	source = git+https://github.com/KhronosGroup/SPIRV-LLVM-Translator.git#commit=6b53fe69e60b555e40c77a5c2b8529a55a0db3e2
	sha256sums = SKIP

pkgname = spirv-llvm-translator
