pkgbase = openmp
	pkgdesc = LLVM OpenMP Runtime Library
	pkgver = 15.0.6
	pkgrel = 1
	url = https://openmp.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = clang
	makedepends = cmake
	makedepends = ninja
	depends = llvm-libs
	depends = libelf
	depends = libffi
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/openmp-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/cmake-15.0.6.src.tar.xz
	sha256sums = 1ac6f159d81625d852a42676ff6d8820cb744c18d825a56d56a6d7aa389f5ac9
	sha256sums = 7613aeeaba9b8b12b35224044bc349b5fa45525919625057fa54dc882dcb4c86

pkgname = openmp
