pkgbase = openmp
	pkgdesc = LLVM OpenMP Runtime Library
	pkgver = 16.0.0rc3
	pkgrel = 1
	url = https://openmp.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = clang
	makedepends = cmake
	makedepends = ninja
	depends = llvm-libs
	depends = libelf
	depends = libffi
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/openmp-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/openmp-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/cmake-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/cmake-16.0.0rc3.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/third-party-16.0.0rc3.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-16.0.0-rc3/third-party-16.0.0rc3.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = 572c62b69a788c76796b99bd30ebbe0011e9871a27ff8fbe77174bec50b29e8d
	sha256sums = SKIP
	sha256sums = 892b720979983735618137d19faaa6ac28500c1d7cdf7c0c4489f1ab0531f154
	sha256sums = SKIP
	sha256sums = e56f362fded1d2f936620edacace4d07ee60b2912534b8821531b96da0d3489c
	sha256sums = SKIP

pkgname = openmp
