pkgbase = lib32-clang
	pkgdesc = C language family frontend for LLVM (32-bit)
	pkgver = 15.0.6
	pkgrel = 1
	url = https://clang.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = lib32-llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	depends = lib32-llvm-libs
	depends = gcc-multilib
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/clang-15.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.6/llvm-15.0.6.src.tar.xz
	source = enable-fstack-protector-strong-by-default.patch
	sha256sums = 10119ae195f1b4f979fe42e67b781e175b0c0d4e982fd6a2f44c4aa7fc925233
	sha256sums = 0b32199401f27e2e0353846a8c5fbadd77beca2570654fb9ef7ac9b7f26967e3
	sha256sums = 7a9ce949579a3b02d4b91b6835c4fb45adc5f743007572fb0e28e6433e48f3a5

pkgname = lib32-clang
