pkgbase = llvm
	pkgver = 15.0.7
	pkgrel = 4
	url = https://llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = ninja
	makedepends = libffi
	makedepends = libedit
	makedepends = ncurses
	makedepends = libxml2
	makedepends = python-setuptools
	makedepends = python-psutil
	makedepends = python-sphinx
	makedepends = python-recommonmark
	options = staticlibs
	options = !lto
	source = git+https://github.com/llvm/llvm-project.git#commit=088f33605d8a61ff519c580a71b1dd57d16a03f8
	source = llvm-config.h
	source = bolt.patch
	source = bolt2.patch
	source = bolt3.patch
	sha256sums = SKIP
	sha256sums = 597dc5968c695bbdbb0eac9e8eb5117fcd2773bc91edf5ec103ecffffab8bc48
	sha256sums = 6c4b720cc306b7d457ca24dd31542170320897faba010af0fe4234c997116bc4
	sha256sums = 519a0d1e11acb01097412449c845b09f48fbb866e96d7ae64e9eef4823306ebd
	sha256sums = 84491cbed197a0e4121e15f28d91426db4b35bf91ddf159e80587089ff8d1d1e

pkgname = llvm
	pkgdesc = Compiler infrastructure
	depends = llvm-libs
	depends = perl

pkgname = llvm-libs
	pkgdesc = LLVM runtime libraries
	depends = gcc-libs
	depends = zlib
	depends = libffi
	depends = libedit
	depends = ncurses
	depends = libxml2
